@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 0.025em;
  font-family: 'Noto Sans', sans-serif;
}

p {
  letter-spacing: 0.025em;
  color: #111827;
}

button {
  letter-spacing: 0.025em;
}

@layer components {
  .container {
    width: calc(100% - 100px);
    max-width: 1600px;
  }
  .tcolor {
    color: #333333;
  }
  /* custom scroll bar */
  /* width */
  .scrollbar::-webkit-scrollbar {
    width: 5px;
  }
  /* track */
  .scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  /* thumb */
  .scrollbar::-webkit-scrollbar-thumb {
    background: #444e54;
  }
}
